body{
    margin: 0 auto;
  }
  .col{
    position: absolute;
  }
  .footer1{
    background-color: #2d3748;
    width: 100% !important;
    height: 250px;
  }
  .footer1 a{
    color: white;
    text-decoration: none;
  }
  .footer1 p{
    color: white;
  }
  .footer1-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 52px;
    /*line-height: 2;*/
    font-family: 'Roboto', sans-serif;
  }
  .ajak{
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: #2d3748;
    font-size: 20px;

  }
  .box{
    position: absolute;
    display: none;
    background-color: white;
    width: 350px;
    height: 130px;
    overflow-y: scroll;
    scroll-behavior:blue;
  }
  .ajak:onclick .box{
    display: block;

  }
  .footer1-content a:hover{
    color: #DCDCDC;
  }
  .cont>a{
    color:black;
    font-size: 13px;
    text-align: center;
    margin: 10px;
  }
  .cont>a:hover{
    color: #29293d;
  }
  .cont>p{
    margin-left: 10px;
    margin-top:7px;
    position: relative;
    top:15px;
    color: black;
  }
  .main{
    display: flex;
    /*text-align: center;*/
  }
  .box::-webkit-scrollbar-track {
      border: 1px solid #000;
    padding: 2px 0;
      background-color: #404040;
  }

  .box::-webkit-scrollbar {
      width: 8px;
  }

  .box::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #DCDCDC;
      border: 1px solid #000;
  }
  .img{
    margin-left: 15px;
  }
  .border{
    border:1px solid white; 
    border-radius: 5px; 
    margin:0 20px;
  }
  .ajakicner{
    display:inline-flex;
  }
  @media only screen and (max-width: 320px) {
    .footer1-content{
       width: 100%;

    }
  }  
  @media only screen and (max-width: 700px) {
  /*  .footer1{
      width: 100%
    }*/
    .footer1-content{
      display: flex;
      flex-direction: column;
      font-size: 18px;
      border:none !important;
      text-align: center;
      width: 100% !important;
      margin: 0 auto;
      
  }
  .border{
    border:none !important;
  }
  .hth>a{
    padding-top: 10px;
    font-size: 30px !important;
  }
  .anv{
    font-size: 20px;
    margin-top:-19px;
  }
  .footer1{
    background-color: #2d3748;
    height: 280px;
    font-family: sans-serif;
    overflow: hidden;
    width: 100% !important;
  }
  .zex{
    padding-top: 10px;
    font-size: 20px;
  }
  .footer1-content{
    position: relative;
    width: 100%;
    top: -20px;
      }
  .col{
    margin-top: -21px;
  }
  .box{
    position: absolute;
    display: none;
    background-color: white;
    width: 350px;
    height: 150px;
    overflow-x: hidden;
    scroll-behavior:gray;
    margin-left: 90px

  }

  .cont>p{
    margin-right: 110px;
    /*margin-top:-50px !important;*/
    position: relative;
    top:15px;
    font-size: 15px;
  }
  .img{
    margin-right:-5px;
  }

}
@media only screen and (max-width: 500px) {
    body{
      margin: 0 auto;
      width: 100%
    }
    .footer{
    width: 100%;
  }
    .footer1-content{
    width: 100% !important;
  }
  .box{
    width:300px;
    position: relative; 
    height: 150px;
    margin: 0 -85px;
  }
  .cont{
    width: 200px;
    justify-content: center;
    text-align: center;
    align-items:center;
  }
   .cont>p{
    margin-right: 20px;
    /*margin-top:-50px !important;*/
    position: relative;
    top:20px;
    color:black;
   /* font-size: 15px;
     text-align: center;
     justify-content: center;
     align-items: center;*/
  }
  .cont>a{
    word-break: break-all;
    position: relative;
    top: 15px;
    left:20px
  }
  .col{
    font-size: 15px;
  }
  .ajakicner{
    font-size: 17px;
  }
  .hth{
    font-size: 17px !important;
  }
  .zex{
    font-size: 17px !important;
  }
  .anv{
    font-size: 17px !important;
  }
}
