
.popup_layer {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 39, 39, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.popup_window {
    max-width: 654px;
    min-width: 290px;
    height: 319px;
    background-color: #f8f8f9;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.36);
}

.popup_close {
    position: absolute;
    width: 21px;
    height: 21px;
    text-decoration: none;
    top: 12px;
    right: 12px;
    z-index: 5;
}

.popup_close:hover {
    cursor: pointer;
}

.popup_body_top_section {
    display: flex;
    position: relative;
}

.popup_close>img {
    width: 100%;
    
}

.popup_photo {
    max-width: 145px;
    height: 141px;
    margin-left: 29.1px;
    margin-top: 51px;
}

.popup_photo>img {
    width: 100%;
}

.popup_info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 15px;
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 19px;
}

.qualify {
    font-size: 23px;
    color: #545f7e;
    letter-spacing: 0.46px;
    line-height: 32px;
    margin-bottom: 29px;
}

.statistic {
    color: #383f45;
    letter-spacing: 0.34px;
    line-height: 28px;
    font-size: 17px;
    font-weight: bold;
}

.stat_wpn {
    min-width: 296px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#statistic_wpm {
    font-weight: normal; 
    margin-left: 10px;
    font-size: 18px;
}

.accuracy {
    color: #383f45;
}

#accuracy_procent {
    color: #383f45;
    font-size: 17px;
    font-weight: bold;
}

.advice {
    margin-top: 13px;
    color: #6c7277;
    font-size: 14px;
}

.popup_body_bottom_section {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.share {
    position: absolute;
    display: flex;
    bottom: 52px;
    left: 56px;
}

.share>a {
    width: 40px;
    height: 40px;
}

.share>a>img {
    width: 40px;
    height: 40px;
}

.share>span {
    color: #383f45;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.32px;
    display: block;
    line-height: 40px;
}

.try_again_btn {
    position: absolute;
    width: 181px;
    height: 43px;
    bottom: 52px;
    right: 52px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 22px;
    border: none;
    font-size: 14px;
    padding: 12px 35px 12px 32px;
    background-image: linear-gradient(to bottom, #ffa330, #ff9346 38%, #fb7a6a 70%, #f07379);
}

 .try_again_btn:active {
    color: #387dff;
}

.try_again_btn:focus {
    outline:0;
}

.popup_layer.open {
    opacity: 1;
    visibility: visible;
    transition: .3s ease-in-out;
}

.popup_layer.close {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

@media (max-width: 613px) {
    #statistic_wpm {
        font-weight: normal; 
        margin-left: 6px;
        font-size: 17px;
    }
    .popup_photo {
        margin-left: 15.1px;
        margin-top: 51px;
    }
    .popup_info {
        margin-left: 23px;
    }
    .statistic {
        font-size: 17px;
    }
}

@media (max-width: 554px) {
    .popup_window {
        max-width: 400px;
        height: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .popup_close {
        position: absolute;
        top: 15px;
    }
    .popup_body_top_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .popup_info {
        margin-top: 50px;
        margin-left: 0px !important;
        padding-right: 15px;
    }
    .share {
        position: static;
        margin-top: 40px;
    }
    .try_again_btn {
        margin-top: 20px;
        position: static;
        width: 80%   
    }
    
    .popup_photo {
        width: 145px !important;
        height: 90px !important;
        margin-top: 52px !important;
        margin-left: 0px !important;
    }
    .popup_photo>img {
        width: 140px;
    }

    .stat_wpn { text-align: center !important; justify-content: center;}
}

@media (max-width: 367px) {
    .statistic { font-size: 15px !important; }
    #statistic_wpm { font-size: 16px !important;}
}


@media (max-width: 361px) {
    .popup_info { margin-top: 55px !important; }
    .popup_photo { margin-left: 0px !important; }
    .share { margin-top: 30px !important; }
    .try_again_btn { margin-top: 10px !important; }
}




